.mainnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#1E1E1E;
}
.logo{
    font-size: 1.8rem;
    margin-left:2rem;
    padding: 0.1rem;
    margin-bottom: 0.1rem;
    color:yellow;
}

.navgation ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-left: 8rem;
}
.navgation ul li{
    list-style: none;
    font-size: 1.5rem;
    text-decoration: none;

}

.navgation ul li a{
    text-decoration: none;
    width: 2.3rem;
    height: auto;
    padding: 0.1rem;
    color: floralwhite;
}
.navgation ul li a:hover{
   color: red;
   opacity: 50%;
}

.user{
    display: flex;
    justify-content: center;
    align-items: center;
    width:200px;
    height: 4rem;
    gap: 0.5rem;
    background-color: bisque;
    

}
.user h3{
    font-size: 1rem;
    text-decoration: none;
    color:black;

}
.user a{
    text-decoration: none;
    font-size: 1.3rem;
    color:blueviolet;
    font-weight: 900;

}
.user a:hover{
    color: green;
}